body {
  font-family: 'Comic Sans MS', cursive; 
  background-color: #f0e68c; 
  color: #000; 
  line-height: 1.6;
  margin: 20px;
}

h1, h2, h3 {
  color: #ff0000; 
  text-align: center;
  text-shadow: 2px 2px 0px #000;
}

h1 {
  font-size: 3em;
  margin-bottom: 10px;
  text-transform: uppercase; 
  animation: bounce 1s infinite; 
}

h2 {
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 5px dashed #0000ff; 
  padding: 10px;
}

h3 {
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #0000ff; 
}

p {
  margin-bottom: 15px;
  font-size: 1.2em;
}

.destacado {
  background-color: yellow;
  font-style: italic;
  padding: 10px;
}

#tituloPrincipal {
  font-size: 2.5em;
  color: darkblue;
  border: 1px solid black;
}